.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.switchers {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 20px;
}

.lang {
    margin-left: 20px;
}

.collapseBtn {
    position: absolute;
    right: -32px;
    bottom: 32px;
}

.items {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.link {
    display: flex;
    align-items: center;

    span {
        margin-left: 10px;
        opacity: 1;
    }
}

.icon {
    width: 20px;
    fill: var(--inverted-secondary-color);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .items {
        margin-left: 0;
    }

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .link {
        span {
            margin: 0;
            width: 0;
            opacity: 0;
            transition: 0.2s opacity;
        }
    }
}
