.ArticleList {
    box-sizing: border-box;
}

.BIG {
    .card {
        margin-bottom: 30px;
    }
}

.SMALL {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .card {
        height: 300px;
    }

    .row {
        display: flex;
        gap: 30px;
    }
}