.app_orange_theme {
    --bg-color: #fbf8f4;
    --inverted-bg-color: #ed930c;
    --primary-color: #c31404;
    --secondary-color: #750c02;
    --inverted-primary-color: #343434;
    --inverted-secondary-color: #fbf8f4;

    /* Skeleton */
    --skeleton-color: #fff;
    --skeleton-shadow: #ed930c;

    /* code */
    --code-bg: rgb(255 255 255);

    /* card */
    --card-bg: #c4bf8f;

    /* listbox */
    --listbox-bg: #c4bf8f;
}
