.app_violet_theme {
    --bg-color: #1e1e2e;
    --inverted-bg-color: #f8e1a6;
    --primary-color: #ff6b81;
    --secondary-color: #ffb86c;
    --inverted-primary-color: #2e2e48;
    --inverted-secondary-color: #fafafa;

    /*  Skeleton */
    --skeleton-color: #fafafa;
    --skeleton-shadow: #ffb86c;

    /* code */
    --code-bg: #28284f;

    /* card */
    --card-bg: #3e3e56;
}
